@charset "UTF-8";
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  p {
    font-size: 1.0rem; }
  .ampliar {
    width: 200px;
    height: 200px;
    margin: 0 auto; } }

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  p {
    font-size: 1.0rem; }
  .ampliar {
    width: 200px;
    height: 200px;
    margin: 0 auto; } }

/* iPhone 4 */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  p {
    font-size: 1.0rem; }
  .ampliar {
    width: 500px;
    height: 500px;
    margin: 0 auto; } }

nav {
  padding: 1rem;
  background-color: #eb6b7e; }
  nav nav ul a {
    text-decoration: none;
    display: block; }
    nav nav ul a nav ul a:hover {
      Text-decoration: underline; }

/*falta animacion*/
section {
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  padding: 25px; }
  section .subtitulo {
    color: #af4d98; }
    section .subtitulo main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center; }
      section .subtitulo main .fotoVenta {
        width: 250px;
        height: 250px;
        margin: 2%; }
        section .subtitulo main .fotoVenta img {
          margin-left: auto;
          margin-right: auto;
          display: block; }

.infoformulario {
  height: 650px;
  width: 500px;
  margin: 20px;
  padding: 60px;
  display: inline-block;
  border: double #ffc0cb; }
  .infoformulario .btn-primary {
    border-color: #f4e4a9;
    background-color: #ffc0cb; }
    .infoformulario .btn-primary .btn-primary:hover {
      color: #212529;
      background-color: #f4e4a9;
      border-color: #ffc0cb; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: scroll; }

.fotosCarrusel {
  width: 450px;
  height: 30rem;
  margin: 0 auto; }

h1 {
  margin: 5px;
  padding: 5px;
  text-align: center; }

/*producto colección*/
.caja2020 {
  width: 300px;
  height: 200px;
  display: inline-block; }

.footer {
  background-color: #ffc0cb; }
